# Konfigurasi Bahasa dan Proporsi Bahasa
*.py linguist-language=Python
*.ipynb linguist-vendored
*.csv linguist-language=CSV
*.png linguist-language=Image
*.sh linguist-language=Shell
*.sql linguist-language=SQL

# Force diffs on text-based files
*.py text
*.csv text eol=lf
*.sh text eol=lf

# Binary files (no diffs or merging)
*.png binary

# Automatic Execution Scripts
*.sh executable
*.py executable

# Large File Configuration (Git LFS)
*.png filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text

# Ignore Changes in Certain Files
*.log linguist-vendored
*.tmp linguist-vendored

# Merge conflict resolution for CSV
*.csv merge=union
